{{define "body"}}
    <!doctype html>
    <html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
    Hi there,

    <p>It seems you recently requested a password reset.</p>
        
    <p>Visit the link below to create a new password. Note that the link expires in 60 minutes.</p>
        
    <p><a href="{{.Link}}">Click here to reset your password</a></p>

    </body>

    </html>
{{end}}